* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    --black: #1a1b1e;
    --main: #631C56;
    --off: #FAF9F6;
    --grey: #A9A9A9;
    --yelow: #FFDE59;
}

section {
    /* width: 100vw; */
    background: #FAF9F6;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--black);
    width: 70%;
    height: 100%;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 10px;
    background: white;
}

.heading {
    text-align: center;
}

.heading h1 {
    color: var(--black);
    font-size: 3rem;
}

.jd {
    width: 100%;
}

.jd h3 {
    margin: 1rem 0;
    color: var(--black);
    font-size: 2rem;
}

.box {
    margin: 1.5rem 0;
}

.box h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    background: var(--main);
    color: white;
    padding: 0.5rem;
    border-radius: 0.675rem;

}

.box p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.box ul li {
    list-style: none;
    margin: 0.5rem 0;
}

.box ul li span {
    font-weight: 700;
    font-size: 1rem;
    font-style: normal;
}

.pos li {
    font-weight: 600;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    cursor: pointer;
    background: var(--main);
    color: white;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2.5rem;
    border: none;
}

.button button:hover {
    filter: brightness(80%);
}

.main-div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 0.5rem;
}

.left {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.sec {
    padding: 1rem;
    background: #FAF9F6;
}

.active {
    background: var(--main);
    color: white;
    font-weight: 600;
    border: 3.5px solid var(--black);
    cursor: auto;
}

.right {
    display: flex;
    flex-direction: column;
    width: 48%;
    border: 2px solid var(--grey);
    border-radius: 10px;
}

.info-box {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.info-box input, .info-box textarea {
    border: none;
    outline-color: var(--main);
    background: var(--off);
    padding: 1rem;
    border-radius: 12px;
}

.info-box label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.info-box span {
    font-size: 0.75rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.stsearch-box input {
    border: none !important;
    padding: 0.5rem !important;
    outline: none !important;
}

.but {
    margin-top: 1rem;
    gap: 0.5rem;
}

.prev {
    background: var(--grey) !important;
}

.next {
    padding: 1rem 2rem !important;
}

.rev-btn {
    cursor: pointer;
    padding: 1rem 2rem;
    border: none;
    background: var(--yelow);
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
}

.rowDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chk {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.scroll {
    height: 10rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.opt {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.opt label {
    font-size: 1rem;
    font-weight: normal;
}

.opt{
    margin: 0.5rem 0;
}

.info-box select {
    border: none;
    outline-color: var(--main);
    background: var(--off);
    padding: 1rem;
    border-radius: 12px;
}

.ans {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info1 {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    gap: 0.5rem;
}

.field {
    font-size: 1rem;
    font-weight: 600;
}

.data {
    font-size: 1rem;
}

.col {
    display: flex;
    align-items: flex-start;
}

.colans {
    flex-direction: column;
    align-items: flex-start;
}

.hidden {
    display: none;
}

.mb-2{
    margin-right: 0.5rem;
}

.my-0 {
    margin: 0;
}

.info-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.box-info {
    padding: 1rem;
    border: 2px solid var(--grey);
    border-radius: 10px;
}

.head-field {
    color: var(--main);
    font-size: 1.5rem;
    font-weight: 600;
}

.icon {
    cursor: pointer;
    background: var(--grey);
    color: white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 18px;
}

.void {
    color: red;
    font-style: italic;
}


@media (max-width: 440px) {
    .main {
        width: 90%;
        padding: 0.5rem;
        margin: 0.5rem;
    }

    .heading h1 {
        font-size: 2rem;
        /* margin-bottom: 1rem; */
    }

    .jd h3 {
        margin: 1rem 0;
        font-size: 1.5rem;
    }

    .info {
        padding: 0 0.5rem;
    }

    .box ul li, .box ul li span {
        font-size: 0.875rem;
    }

    .box {
        margin: 0.5rem 0;
    }

    .box h3 {
        font-size: 0.9rem;
    }

    .box p {
        font-size: 0.875rem;
    }

    .button button {
        padding: 0.5rem 1.5rem;
        font-size: 0.875rem;
    }

    .main-div {
        flex-direction: column;
    }

    .left {
        width: 100%;
        margin-top: 1rem;
    }

    .right {
        width: 100%;
    }

    .info-box {
        padding: 1rem;
    }

    .info-box label {
        font-size: 1rem;
    }

    .next {
        padding: 0.5rem 2rem !important;
    }
}